body {
  margin: 0;
  padding: 0;
}

.head {
  background-color: yellow;
  width: 100%;
  display: flex;
  align-items: center;
}

.head svg {
  height: 40px;
  margin: 10px;
}

.card {
  width: 20%;
  border-radius: 8px;
  margin: 10px;
}
.card .title,
.card .text {
  display: inline-block;
}

.card .title {
  text-align: center;
  width: 100%;
  background-color: yellow;
  height: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card .text {
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: lightgoldenrodyellow;
}
