body {
  margin: 0;
  padding: 0;
}

:root {
  --header: yellow;
  --title: rgb(138, 138, 138);
  --text: rgb(91, 159, 255);
  --headerr: "Verdana", sans-serif;
  --titler: "Overlock", cursive;
  --textr: "Poppins", sans-serif;
}
header {
  background-color: var(--header);
  width: 100%;
}
.head {
  font-family: var(--headerr);
  display: flex;
  align-items: center;
  margin-left: 10px;
  justify-content: space-between;
  font-size: larger;
}

.head svg {
  height: 40px;
  margin: 10px;
}
.head div {
  display: flex;
  align-items: center;
}

.add-notes {
  margin-right: 20px;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 20px;
}

.card {
  width: 300px;
  border-radius: 8px;
  margin: 10px;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.title {
  text-align: center;
  width: 100%;
  display: inline-block;
  background-color: var(--title);
  font-family: var(--titler);
  font-size: larger;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.text {
  padding-left: 10px;
  padding-bottom: 10px;
  width: calc(100% - 10px);
  height: 100%;
  background-color: var(--text);
  font-family: var(--textr);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-family: var(--textr);
  word-wrap: break-word;
  overflow-y: scroll;
}
